.header {
  position: absolute;
  left: 0;
  width: 600px;
  top: 0;
  height: 750px;
  font-family: "Sriracha", cursive;
  background-image: url(https://www.lubbockisd.org/cms/lib/TX01918059/Centricity/Domain/60/Covid%20Background%20-%20MMG.jpg);
  color: rgb(68, 63, 63);
  text-align: center;
  padding-top: 290px;
}
.right-content {
  position: absolute;
  right: 0px;
  width: 920px;
  top: 0;
  height: 750px;
  font-family: "Sriracha", cursive;
  background-image: url(https://www.lubbockisd.org/cms/lib/TX01918059/Centricity/Domain/60/Covid%20Background%20-%20MMG.jpg);
  text-align: center;
  padding-top: 200px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.text-white {
  color: #fff;
}

.col {
  max-width: 100%;
  margin-bottom: 30px;
}

.h1,
h1 {
  font-size: 2.5rem;
  text-align: center;
}

.bg-Confirmed {
  background-color: #e2298e !important;
}

.bg-Recovered {
  background-color: #045f34 !important;
}

.bg-Hospitalized {
  background-color: #179b9d !important;
}

.bg-Deaths {
  background-color: #666666 !important;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
}

.card-text:last-child {
  margin-bottom: 0;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
